.space {
    display: flex;
    position: relative;
    top: 50px;
    left: 0px;
    height:100%;
    width: auto;
    padding: 10px;
  background-size: cover;
  background-image: url("./galaxy.png");
  margin-top: -68px;
}

/* Mercury */

.mercury {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 20px;
    background-image: url(./css/Owne.gif);
    background-size: cover;
}

.mercury:hover{
  border:solid;
  border-radius: 50px;
  border-color: silver;
}


.mercury_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.mercury:hover .mercury_p{
  visibility: visible;
  opacity: 1;
}

/* Venus */

.venus {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 30px;
    background-image: url(./css/7Ht5.gif);
    background-size: cover;
}

.venus:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}

.venus_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.venus:hover .venus_p{
  visibility: visible;
  opacity: 1;
}

/* Earth */

.earth {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 40px;
    background-image: url(./css/S6oD.gif);
    background-size: cover;
}

.earth:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}


.earth_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.earth:hover .earth_p{
  visibility: visible;
  opacity: 1;
}

/* Mars */

.mars {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 70px;
    background-image: url(./css/7gz4.gif);
    background-size: cover;
}

.mars:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}


.mars_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.mars:hover .mars_p{
  visibility: visible;
  opacity: 1;
}

/* Jupiter */

.jupiter {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 100px;
    background-image: url(./css/WME4.gif);
    background-size: cover;
}

.jupiter:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}

.jupiter_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.jupiter:hover .jupiter_p{
  visibility: visible;
  opacity: 1;
}

/* Saturn */

.saturn {
    position: relative;
    height: 125px;
    width: 200px;
    top: 110px;
    bottom: 150px;
    left: 125px;
    background-image: url(./css/56i2.gif);
    background-size: cover;
}

.saturn:hover{
  border: solid;
  border-radius: 250px;
  border-color: silver;
}

.saturn_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.saturn:hover .saturn_p{
  visibility: visible;
  opacity: 1;
}

/* Uranus */

.uranus {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 150px;
    background-image: url(./css/149q.gif);
    background-size: cover;
}

.uranus:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}

.uranus_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.uranus:hover .uranus_p{
  visibility: visible;
  opacity: 1;
}

/* Neptune */

.neptune {
    position: relative;
    height: 150px;
    width: 125px;
    top: 95px;
    bottom: 50px;
    left: 200px;
    background-image: url(./css/KhVO.gif);
    background-size: cover;
}

.neptune:hover{
  border: solid;
  border-radius: 50px;
  border-color: silver;
}

.neptune_p{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.neptune:hover .neptune_p{
  visibility: visible;
  opacity: 1;
}


