
.space {
    display: flex;
    position: relative;
    top: 50px;
    left: 0px;
    height:100%;
    width: auto;
    padding: 10px;
    background-image: url("./galaxy.png");
    background-size: cover;
  
}

.mercury {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 20px;
    background-image: url(./css/Owne.gif);
    background-size: cover;
}

.mercury:hover{
  border: solid;
  border-color: silver;
}


.venus {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 30px;
    background-image: url(./css/7Ht5.gif);
    background-size: cover;
}

.venus:hover{
  border: solid;
  border-color: silver;
}


.earth {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 40px;
    background-image: url(./css/S6oD.gif);
    background-size: cover;
}

.earth:hover{
  border: solid;
  border-color: silver;
}


.mars {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 70px;
    background-image: url(./css/7gz4.gif);
    background-size: cover;
}

.mars:hover{
  border: solid;
  border-color: silver;
}


.jupiter {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 100px;
    background-image: url(./css/WME4.gif);
    background-size: cover;
}

.jupiter:hover{
  border: solid;
  border-color: silver;
}


.saturn {
    position: relative;
    height: 125px;
    width: 200px;
    top: 110px;
    bottom: 150px;
    left: 125px;
    background-image: url(./css/56i2.gif);
    background-size: cover;
}

.saturn:hover{
  border: solid;
  border-color: silver;
}


.uranus {
    position: relative;
    height: 100px;
    width: 100px;
    top: 125px;
    bottom: 125px;
    left: 150px;
    background-image: url(./css/149q.gif);
    background-size: cover;
}

.uranus:hover{
  border: solid;
  border-color: silver;
}


.neptune {
    position: relative;
    height: 150px;
    width: 125px;
    top: 95px;
    bottom: 50px;
    left: 200px;
    background-image: url(./css/KhVO.gif);
    background-size: cover;
}

.neptune:hover{
  border: solid;
  border-color: silver;
}


