.planets-detail{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-image: url("../galaxy.png");
    /* background-color: black; */
    color: white;
}

.moons-detail{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-image: url("../galaxy.png");
    /* background-color: black; */
    color: white;
}

.asteroids-detail{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-image: url("../galaxy.png");
    /* background-color: black; */
    color: white;
}

#planet{
    margin-bottom: 50px;
    margin-top: -675px;
    margin-right: 25px;
    float: right;
    padding: 20px;
}

#moon{
    margin-bottom: 25px;
    margin-right: 25px;
    float: right;
}

#asteroid{
    margin-bottom: 25px;
    margin-right: 25px;
    float: right;
}

#info{
    color: #ee402c;
}

h1{
    color:#78c2f2;
    text-transform: uppercase;
}

h3, h4 {
    color: #ee402c;
}

p{
    font-weight: bold;
    font-size: 25px;
}

#links{
    color: white;
}

#links:hover{
    color: #78c2f2;

}

#heading{
    color: #ee402c;
}

.list{
    list-style: none;
}

.list li a{
    text-decoration: none;
    color: white;
}