.list{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    color: white;
    font-size: 25px;
    padding: 25px;
}

.list:hover{
    color: rgba(192, 192, 192, 0.582);
}

h2{
    margin-left: 20px;
    color: white;
}

#planets-list{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    background-color: #052a46;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 150px;
    padding: 15px;
    font-weight: bold;
    width: 25%;
}

#moons-list{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    background-color: #052a46;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 150px;
    padding: 15px;
    font-weight: bold;
    width: 25%;
}

#asteroids-list{
    border-style: solid;
    border-radius: 15px;
    border-color: silver;
    background-color: #052a46;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 150px;
    padding: 15px;
    font-weight: bold;
    width: 25%;
}

