.list{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    color: white;
}

.list:hover{
    color: #7c9cdc;
}

h2{
    margin-left: 20px;
    color: white;
}

#planets-list{
    border-style: solid;
    border-radius: 15px;
    border-color: #ee402c;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-weight: bold;
}

#moons-list{
    border-style: solid;
    border-radius: 15px;
    border-color: #ee402c;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-weight: bold;
}

#asteroids-list{
    border-style: solid;
    border-radius: 15px;
    border-color: #ee402c;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-weight: bold;
}

